@charset "UTF-8";
body{
	background: linear-gradient(#CCFFCC, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
   background-repeat: no-repeat;
}
.button {
	width		:130px;
	margin		: 12px auto;
	font-size	: 12px;
  	border-radius: 5%;
	cursor: pointer;
	padding: 7px 6px;
	background: linear-gradient(to bottom, #FFFFFF, #EEEEEE, #EEEEEE, #DDDDDD);
	color: #000000;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #5d5d5d;
}
.button:hover {
  	color         : #000000;
	background    : #ffffff;
}
.kakomi-box2 {
 margin			 : 2em auto;
 padding		 : 2em;
 width			 : 25%;
 color			 : #000000; /* 文字色 */
 background-color: white; /* 背景色 */
 border			 : 2px solid #c7fbaa; /* 枠線 */
 text-align:center;
}
.tableArea {
  height		 : 18em;
  margin-left    : auto;             /* 自動位置   */
  margin-right   : auto;             /* 自動位置   */
  border-spacing : 0;                /* 罫線間余白 */
  font-size      : 16pt;              /* 文字サイズ */

}
.tableArea th{
  background 	 :white;
}
h2{
	text-align:center;
}
