@charset "UTF-8";
body {
	background: linear-gradient(#CCFFCC, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
   	background-repeat: no-repeat;
}
h2{
	text-align:center;
}
.kakomi-box2 {
 margin			 : 2em auto;
 padding		 : 2em;
 width			 : 25%;
 color			 : rgb(0, 0, 0)0; /* 文字色 */
 background-color: white; /* 背景色 */
 border			 : 2px solid #c7fbaa; /* 枠線 */
 text-align:center;
}
.bookslist{
width: 110%;
border-collapse: separate;
border-spacing: 0;
text-align:center;
margin-left:230px;
margin-right:160px;
}

.bookslist th:first-child {
border-radius: 5px 0 0 0;
}

.bookslist th:last-child {
border-radius: 0 5px 0 0;
border-right: 1px solid #3c6690;
}

.bookslist th {
text-align: center;
color: black;
background: linear-gradient(#FFFFFF, #66FFFF);
border-left: 1px solid #3c6690;
border-top: 1px solid #3c6690;
border-bottom: 1px solid #3c6690;
box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
padding: 5px 0;
}

.bookslist td {
font-size: 13pt;
font-weight: bold;
border-left: 1px solid #a8b7c5;
border-bottom: 1px solid #a8b7c5;
border-top: none;
box-shadow: 0px -3px 5px 1px #eee inset;
padding: 5px 0;
}

.bookslist td:last-child {
border-right: 1px solid #a8b7c5;
}

.bookslist tr:last-child td:first-child {
border-radius: 0 0 0 5px;
}

.bookslist tr:last-child td:last-child {
border-radius: 0 0 5px 0;
}

.booksid {
text-align: right;
}

.booksname {
text-align: left;

}
.booksauthor {
text-align: left;

}

#delete {
font-size: 10pt;
font-weight: bold;
width: 100%;
height: 100%;
border-radius: 5%;
background: linear-gradient(to bottom, #FFFFFF, #EEEEEE, #EEEEEE, #DDDDDD);
}

#delete:hover {
color: #000000;
background: #ffffff;
}

.books-place {
	width		: 800px;
	margin		: 20px auto;
	height		: 22em;
	display		: flex;
	text-align	:center;
	align-items	: center;
	font-size	: 20px;
	display   	: inline-block;
}
.buttonserch {
	width		:40%;
	margin		: 12px auto;
	font-size	: 12px;
  	border-radius: 5%;
	cursor: pointer;
	padding: 7px 6px;
	background: linear-gradient(to bottom, #FFFFFF, #EEEEEE, #EEEEEE, #DDDDDD);
	color: #000000;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #5d5d5d;
}
.buttoninsert {
	width		:100%;
	margin		: 12px auto;
	font-size	: 12px;
  	border-radius: 5%;
	cursor: pointer;
	padding: 7px 6px;
	background: linear-gradient(to bottom, #FFFFFF, #EEEEEE, #EEEEEE, #DDDDDD);
	color: #000000;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #5d5d5d;
}
.buttonserch:hover {
  	color         : #000000;
	background    : #ffffff;
}
.buttoninsert:hover {
  	color         : #000000;
	background    : #ffffff;
}