@charset "UTF-8";

body {
	background: linear-gradient(#CCFFCC, #FFFFFF, #FFFFFF, #FFFFFF, #FFFFFF);
	background-repeat: no-repeat;
};


.tableArea {
	height: 25em;
	margin-left: auto; /* 自動位置   */
	margin-right: auto; /* 自動位置   */
	border-spacing: 0; /* 罫線間余白 */
	font-size: 16pt; /* 文字サイズ */
	text-align:center;
}

.tableArea th {
	background: white;
  margin-left:0;
  text-align:left;
  margin	 : 2em auto;
	white-space: nowrap;
}

.button {
	width: 130px;
	margin: 16px auto 16px 12%;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5%; /* 角丸       */
	font-size: 12pt; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	border-radius: 5%;
	cursor: pointer;
	padding: 7px 6px;
	background: linear-gradient(to bottom, #FFFFFF, #EEEEEE, #EEEEEE, #DDDDDD);
	color: #000000;
	line-height: 1em;
	transition: .3s;
	border: 2px solid #5d5d5d;
}

.button:hover {
	color: #000000;
	background: #ffffff; /* 文字色     */
}
.kakomi-box2 {
 margin			 : 1em auto;
 padding		 : 1em;
 width			 :  28%;;
 color			 : #000000; /* 文字色 */
 background-color: white; /* 背景色 */
 border			 : 2px solid #c7fbaa; /* 枠線 */

}

h2{
	text-align:center;
}
.add-place {
	width: 340px;
	margin: 16px auto;
	text-align: center;
	align-items: center;
	display: inline-block;
	font-size:24px;
	line-height:55px;
}
