<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>図書登録</title>
</head>
<body>
<form action="/library/addBooks"method="post">

<input type="text"name="booksName"><br>
<input type="text"name="booksAuthor"><br>
<input type="text"name="booksStock"><br>
<input type="text"name="booksRemarks"><br>

<select name="classificationName">
<option value="サンプル1">サンプル1</option>
<option value="サンプル2">サンプル2</option>
<option value="サンプル3">サンプル3</option>
</select>

<input type="submit" class="button"value="登録">

</form>

</body>
</html>