<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script type="text/javascript" th:src="@{/lending.js}"></script>
<title>貸出</title>
</head>
<body>

	<form>
		利用者ID<input type="text" name="usersId">
	</form>

	<form th:action="@{/library/lendingSub}"method="GET"name="formGet">
		図書名<input type="text" name="booksName"><input type="button"value="検索" onClick="openWin('formGet')">
	</form>

	<p><font color="red"><span th:text="${message}"></span></font></p>
	<table border="1">
	<tr>
		<th>図書ID</th><th>図書名</th><th>著者名</th><th>削除</th>
	</tr>
	<tr th:each="map:${lendingMap}">
		<td th:text="${map.value.booksId}"></td>
		<td th:text="${map.value.booksName}"></td>
		<td th:text="${map.value.booksAuthor}"></td>
		<td><form th:action="'/library/deleteLending/'+${map.key}"><input type="submit" value="削除"></form></td>
	</tr>
	</table>
	<form action="/library/lended" method="post">
		<input type="submit" value="貸出">
	</form>
	<form action="/library/lending/"method="GET"name="closeWin">
	</form>
</body>
</html>