<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/css/login.css}" type="text/css"rel="stylesheet">
</head>
<body>
<h1>図書管理システム</h1>
	<div class="kakomi-box2">

	<div class="login-place">
	<p><span th:text="${message}" style="color:red"></span></p>
	<form action="/library/main" method="post">
	<h3>ログイン</h3>
		<p>名前：</p>
		<p><input type="text" name="employeeName" th:value="${employeeName}" maxlength="50" required placeholder="入力"></p><br>
		<p>パスワード</p>
		<p><input type="password" name="employeePass" maxlength="30" required placeholder="入力"></p><br>
		<div class="login-button"><input type="submit" value="ログイン"></div>
	</form>
	</div>
	</div>
</body>
</html>