<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>貸出図書一覧</title>
</head>
<header><a href="/library/main">メイン画面へ</a></header>
<hr>
<body>
	<form action="/library/returnOver/searchUser"method="get">
		利用者ID<input type="text" name="usersId"th:value="${session.usersId}" maxlength='8'autofocus>
		<input type="submit" class="button" value="検索">
	</form>
	<p><font color="red"><span th:text="${message}"></span></font></p>
	<table border=1>
		<tr>
			<th>利用者ID</th>
			<th>利用者</th>
			<th>図書名</th>
			<th>貸出日</th>
			<th>返却予定日</th>
		</tr>
		<tr th:each="lendings:${lendingList}">
			<td th:text="${lendings.usersId}"></td>
			<td th:text="${lendings.usersName}"></td>
			<td th:text="${lendings.booksName}"></td>
			<td th:text="${lendings.LendDate}"></td>
			<td th:text="${lendings.ReturnDate}"></td>

		</tr>
	</table>
</body>
</html>