<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>図書更新</title>
</head>
<body>

	<form th:action="'/library/updateBooks/'+${books.booksId}"th:object="${updateForm}"method="post">
		<table border=1>
			<tr>
				<th>図書名</th><th><input type="text"name="booksName"required th:value="${books.booksName}"maxlength="100"></th>
			</tr>
			<tr>
				<th>著者名</th>
				<th><input type="text"name="booksAuthor" maxlength="50" required th:value="${books.booksAuthor}"></th>
			</tr>
			<tr>
				<th>冊数</th>
				<th><input type="text"name="booksStock"required th:value="${books.booksStock}"></th>
			<tr>
				<th>貸出の是非</th>
			<th>
				<select name="booksLend">
					<option value="0">可能</option>
					<option value="1">不可</option>
				</select>
			</th>
			</tr>
			<tr>
				<th>備考</th>
				<th><input type="text"name="booksRemarks" th:value="${books.booksRemarks}"></th>
			</tr>
			<tr>
				<th>分類</th>
				<th>
					<select name="classificationId"th:field="*{classificationId}">
						<option  th:each="classification:${classificationList}"
								 th:value="${classification.classificationId}" th:text="${classification.classificationName}"></option>
					</select>
				</th>
			</tr>
		</table>
		<input type="submit" class="button"value="更新">
	</form>
	<p><span th:text="${message}" style="color:red"></span></p>
</body>
</html>