<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>利用者更新</title>
</head>
<header><a href="/library/main">メイン画面へ</a></header>
<hr>
<body>

	<form action="/library/updateUsers" method="post" th:object="${usersForm}">
		<table border="1">
			<tr>
				<th>名前</th>
				<td><input type="text" name="usersName" th:field="*{usersName}" maxlength="50" required></td>
			</tr>
			<tr>
				<th>生年月日</th>
				<td><input type="date" name="usersBirthday" min="1900-01-01" th:field="*{usersBirthday}" required></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><input type="text" name="usersAddress" th:field="*{usersAddress}" maxlength="100" required></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" name="usersPhone" th:field="*{usersPhone}" maxlength="20"></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><input type="text" name="usersEmail" th:field="*{usersEmail}" maxlength="50"></td>
			</tr>
		</table>
		<input type="submit" value="更新">
		<input type="hidden" name="usersId" th:value="${usersId}">
	</form>
	<p><span th:text="${message}" style="color:red"></span></p>

	

</body>
</html>